<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Sasquash</name>

<description>
Sasquash test - PhoneGap Build application.
</description>

<author href="https://tumami.es" email="pedro@tumami.es">
Pedro Aspiazu
</author>
<icon src="img/icon.png" gap:platform="android" gap:density="ldpi" />
<icon src="img/icon.png" gap:platform="android" gap:density="mdpi" />
<icon src="img/icon.png" gap:platform="android" gap:density="hdpi" />
</widget>
